In [1]:
import pandas as pd

In [2]:
a = pd.Series([1,2,3,4,5])

In [3]:
a

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
type(a)

pandas.core.series.Series

In [5]:
b = pd.Series([1,2,3,4,5],index=["a","b","c","d","e"])

In [6]:
b

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [7]:
c = pd.Series({"a":1,"b":2,"c":3})

In [8]:
c

a    1
b    2
c    3
dtype: int64

In [9]:
c = pd.Series({"a":1,"b":2,"c":3},index=["c","a","d","b"])

In [10]:
c

c    3.0
a    1.0
d    NaN
b    2.0
dtype: float64

In [11]:
c[2]

nan

In [12]:
c["a"]

1.0

In [13]:
a[2]

3

In [14]:
a[:2]

0    1
1    2
dtype: int64

In [15]:
a[-2:]

3    4
4    5
dtype: int64

In [16]:
a

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [20]:
a / 5

0    0.2
1    0.4
2    0.6
3    0.8
4    1.0
dtype: float64

In [21]:
d = pd.DataFrame({"Day":["Mon","Tue","Wed","Thurs","Fri"], "Hours":[8,4,2,6,4]})

In [22]:
d

     Day  Hours
0    Mon      8
1    Tue      4
2    Wed      2
3  Thurs      6
4    Fri      4

In [23]:
flights = pd.read_csv("flights.csv")

In [24]:
flights

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Distance,TaxiIn,TaxiOut
0,2008,1,3,4,2003.0,1955,2211.0,2225,335,128.0,150,116.0,-14.0,8.0,810,4.0,8.0
1,2008,1,3,4,754.0,735,1002.0,1000,3231,128.0,145,113.0,2.0,19.0,810,5.0,10.0
2,2008,1,3,4,628.0,620,804.0,750,448,96.0,90,76.0,14.0,8.0,515,3.0,17.0
3,2008,1,3,4,926.0,930,1054.0,1100,1746,88.0,90,78.0,-6.0,-4.0,515,3.0,7.0
4,2008,1,3,4,1829.0,1755,1959.0,1925,3920,90.0,90,77.0,34.0,34.0,515,3.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2008,1,25,5,2204.0,1935,106.0,2257,7676,122.0,142,101.0,129.0,149.0,866,4.0,17.0
99996,2008,1,26,6,1933.0,1935,2234.0,2257,7676,121.0,142,101.0,-23.0,-2.0,866,4.0,16.0
99997,2008,1,27,7,2047.0,1935,2400.0,2257,7676,133.0,142,109.0,63.0,72.0,866,6.0,18.0
99998,2008,1,28,1,1956.0,1935,2308.0,2257,7676,132.0,142,102.0,11.0,21.0,866,5.0,25.0
99999,2008,1,29,2,1938.0,1935,2308.0,2257,7676,150.0,142,104.0,11.0,3.0,866,5.0,41.0

In [25]:
flights.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Distance,TaxiIn,TaxiOut
0,2008,1,3,4,2003.0,1955,2211.0,2225,335,128.0,150,116.0,-14.0,8.0,810,4.0,8.0
1,2008,1,3,4,754.0,735,1002.0,1000,3231,128.0,145,113.0,2.0,19.0,810,5.0,10.0
2,2008,1,3,4,628.0,620,804.0,750,448,96.0,90,76.0,14.0,8.0,515,3.0,17.0
3,2008,1,3,4,926.0,930,1054.0,1100,1746,88.0,90,78.0,-6.0,-4.0,515,3.0,7.0
4,2008,1,3,4,1829.0,1755,1959.0,1925,3920,90.0,90,77.0,34.0,34.0,515,3.0,10.0

In [26]:
flights.tail()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Distance,TaxiIn,TaxiOut
99995,2008,1,25,5,2204.0,1935,106.0,2257,7676,122.0,142,101.0,129.0,149.0,866,4.0,17.0
99996,2008,1,26,6,1933.0,1935,2234.0,2257,7676,121.0,142,101.0,-23.0,-2.0,866,4.0,16.0
99997,2008,1,27,7,2047.0,1935,2400.0,2257,7676,133.0,142,109.0,63.0,72.0,866,6.0,18.0
99998,2008,1,28,1,1956.0,1935,2308.0,2257,7676,132.0,142,102.0,11.0,21.0,866,5.0,25.0
99999,2008,1,29,2,1938.0,1935,2308.0,2257,7676,150.0,142,104.0,11.0,3.0,866,5.0,41.0

In [28]:
flights.shape

(100000, 17)

In [29]:
flights.describe()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Distance,TaxiIn,TaxiOut
count,100000.0,100000.0,100000.000000,100000.000000,98858.000000,100000.000000,98698.000000,100000.000000,100000.000000,98698.000000,100000.000000,98698.000000,98698.000000,98858.000000,100000.000000,98698.000000,98858.000000
mean,2008.0,1.0,17.087860,3.890040,1355.200722,1341.989400,1492.739225,1502.601540,1510.648540,107.558502,111.989540,91.863797,5.729954,10.379049,630.586320,4.768962,10.927765
std,0.0,0.0,8.356364,1.952999,464.089632,451.356984,496.376794,478.100216,1186.128598,55.350971,57.209135,54.208224,30.966959,28.384428,437.357075,2.983635,5.989580
min,2008.0,1.0,1.000000,1.000000,1.000000,600.000000,1.000000,5.000000,1.000000,25.000000,17.000000,12.000000,-57.000000,-44.000000,66.000000,1.000000,1.000000
25%,2008.0,1.0,10.000000,2.000000,942.000000,940.000000,1114.000000,1120.000000,502.000000,68.000000,70.000000,53.000000,-9.000000,-2.000000,324.000000,3.000000,8.000000
50%,2008.0,1.0,17.000000,4.000000,1344.000000,1335.000000,1518.000000,1520.000000,1320.000000,88.000000,90.000000,71.000000,-2.000000,1.000000,453.000000,4.000000,9.000000
75%,2008.0,1.0,24.000000,5.000000,1743.000000,1730.000000,1913.000000,1910.000000,2362.000000,135.000000,145.000000,119.000000,10.000000,10.000000,843.000000,5.000000,12.000000
max,2008.0,1.0,31.000000,7.000000,2359.000000,2235.000000,2400.000000,2355.000000,7676.000000,382.000000,370.000000,369.000000,500.000000,516.000000,2363.000000,213.000000,150.000000

In [32]:
flights.loc[0:10,("ArrTime","AirTime")]

    ArrTime  AirTime
0    2211.0    116.0
1    1002.0    113.0
2     804.0     76.0
3    1054.0     78.0
4    1959.0     77.0
5    2121.0     87.0
6    2037.0    230.0
7    1132.0    219.0
8     652.0     70.0
9    1639.0     70.0
10    916.0    106.0

In [33]:
flights.iloc[0:10,2:5]

   DayofMonth  DayOfWeek  DepTime
0           3          4   2003.0
1           3          4    754.0
2           3          4    628.0
3           3          4    926.0
4           3          4   1829.0
5           3          4   1940.0
6           3          4   1937.0
7           3          4   1039.0
8           3          4    617.0
9           3          4   1620.0

In [34]:
flightsDrop = flights.drop([1,2,3],axis=0)

In [36]:
flightsDrop

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Distance,TaxiIn,TaxiOut
0,2008,1,3,4,2003.0,1955,2211.0,2225,335,128.0,150,116.0,-14.0,8.0,810,4.0,8.0
4,2008,1,3,4,1829.0,1755,1959.0,1925,3920,90.0,90,77.0,34.0,34.0,515,3.0,10.0
5,2008,1,3,4,1940.0,1915,2121.0,2110,378,101.0,115,87.0,11.0,25.0,688,4.0,10.0
6,2008,1,3,4,1937.0,1830,2037.0,1940,509,240.0,250,230.0,57.0,67.0,1591,3.0,7.0
7,2008,1,3,4,1039.0,1040,1132.0,1150,535,233.0,250,219.0,-18.0,-1.0,1591,7.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2008,1,25,5,2204.0,1935,106.0,2257,7676,122.0,142,101.0,129.0,149.0,866,4.0,17.0
99996,2008,1,26,6,1933.0,1935,2234.0,2257,7676,121.0,142,101.0,-23.0,-2.0,866,4.0,16.0
99997,2008,1,27,7,2047.0,1935,2400.0,2257,7676,133.0,142,109.0,63.0,72.0,866,6.0,18.0
99998,2008,1,28,1,1956.0,1935,2308.0,2257,7676,132.0,142,102.0,11.0,21.0,866,5.0,25.0
99999,2008,1,29,2,1938.0,1935,2308.0,2257,7676,150.0,142,104.0,11.0,3.0,866,5.0,41.0

In [37]:
flightsDropCol = flights.drop("DepDelay",axis=1)

In [38]:
flightsDropCol

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,Distance,TaxiIn,TaxiOut
0,2008,1,3,4,2003.0,1955,2211.0,2225,335,128.0,150,116.0,-14.0,810,4.0,8.0
1,2008,1,3,4,754.0,735,1002.0,1000,3231,128.0,145,113.0,2.0,810,5.0,10.0
2,2008,1,3,4,628.0,620,804.0,750,448,96.0,90,76.0,14.0,515,3.0,17.0
3,2008,1,3,4,926.0,930,1054.0,1100,1746,88.0,90,78.0,-6.0,515,3.0,7.0
4,2008,1,3,4,1829.0,1755,1959.0,1925,3920,90.0,90,77.0,34.0,515,3.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2008,1,25,5,2204.0,1935,106.0,2257,7676,122.0,142,101.0,129.0,866,4.0,17.0
99996,2008,1,26,6,1933.0,1935,2234.0,2257,7676,121.0,142,101.0,-23.0,866,4.0,16.0
99997,2008,1,27,7,2047.0,1935,2400.0,2257,7676,133.0,142,109.0,63.0,866,6.0,18.0
99998,2008,1,28,1,1956.0,1935,2308.0,2257,7676,132.0,142,102.0,11.0,866,5.0,25.0
99999,2008,1,29,2,1938.0,1935,2308.0,2257,7676,150.0,142,104.0,11.0,866,5.0,41.0

In [39]:
flights.mean()

Year                 2008.000000
Month                   1.000000
DayofMonth             17.087860
DayOfWeek               3.890040
DepTime              1355.200722
CRSDepTime           1341.989400
ArrTime              1492.739225
CRSArrTime           1502.601540
FlightNum            1510.648540
ActualElapsedTime     107.558502
CRSElapsedTime        111.989540
AirTime                91.863797
ArrDelay                5.729954
DepDelay               10.379049
Distance              630.586320
TaxiIn                  4.768962
TaxiOut                10.927765
dtype: float64

In [40]:
flights.median()

Year                 2008.0
Month                   1.0
DayofMonth             17.0
DayOfWeek               4.0
DepTime              1344.0
CRSDepTime           1335.0
ArrTime              1518.0
CRSArrTime           1520.0
FlightNum            1320.0
ActualElapsedTime      88.0
CRSElapsedTime         90.0
AirTime                71.0
ArrDelay               -2.0
DepDelay                1.0
Distance              453.0
TaxiIn                  4.0
TaxiOut                 9.0
dtype: float64

In [41]:
flights.min()

Year                 2008.0
Month                   1.0
DayofMonth              1.0
DayOfWeek               1.0
DepTime                 1.0
CRSDepTime            600.0
ArrTime                 1.0
CRSArrTime              5.0
FlightNum               1.0
ActualElapsedTime      25.0
CRSElapsedTime         17.0
AirTime                12.0
ArrDelay              -57.0
DepDelay              -44.0
Distance               66.0
TaxiIn                  1.0
TaxiOut                 1.0
dtype: float64

In [42]:
flights.max()

Year                 2008.0
Month                   1.0
DayofMonth             31.0
DayOfWeek               7.0
DepTime              2359.0
CRSDepTime           2235.0
ArrTime              2400.0
CRSArrTime           2355.0
FlightNum            7676.0
ActualElapsedTime     382.0
CRSElapsedTime        370.0
AirTime               369.0
ArrDelay              500.0
DepDelay              516.0
Distance             2363.0
TaxiIn                213.0
TaxiOut               150.0
dtype: float64

In [43]:
flights

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Distance,TaxiIn,TaxiOut
0,2008,1,3,4,2003.0,1955,2211.0,2225,335,128.0,150,116.0,-14.0,8.0,810,4.0,8.0
1,2008,1,3,4,754.0,735,1002.0,1000,3231,128.0,145,113.0,2.0,19.0,810,5.0,10.0
2,2008,1,3,4,628.0,620,804.0,750,448,96.0,90,76.0,14.0,8.0,515,3.0,17.0
3,2008,1,3,4,926.0,930,1054.0,1100,1746,88.0,90,78.0,-6.0,-4.0,515,3.0,7.0
4,2008,1,3,4,1829.0,1755,1959.0,1925,3920,90.0,90,77.0,34.0,34.0,515,3.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2008,1,25,5,2204.0,1935,106.0,2257,7676,122.0,142,101.0,129.0,149.0,866,4.0,17.0
99996,2008,1,26,6,1933.0,1935,2234.0,2257,7676,121.0,142,101.0,-23.0,-2.0,866,4.0,16.0
99997,2008,1,27,7,2047.0,1935,2400.0,2257,7676,133.0,142,109.0,63.0,72.0,866,6.0,18.0
99998,2008,1,28,1,1956.0,1935,2308.0,2257,7676,132.0,142,102.0,11.0,21.0,866,5.0,25.0
99999,2008,1,29,2,1938.0,1935,2308.0,2257,7676,150.0,142,104.0,11.0,3.0,866,5.0,41.0

In [44]:
def addTen(s):
    return s + 10

In [45]:
flights[['TaxiIn','TaxiOut']].apply(addTen)

       TaxiIn  TaxiOut
0        14.0     18.0
1        15.0     20.0
2        13.0     27.0
3        13.0     17.0
4        13.0     20.0
...       ...      ...
99995    14.0     27.0
99996    14.0     26.0
99997    16.0     28.0
99998    15.0     35.0
99999    15.0     51.0

[100000 rows x 2 columns]

In [46]:
flights['TaxiIn'].value_counts()

4.0      25857
3.0      22447
5.0      18513
6.0      10331
2.0       7971
7.0       5261
8.0       2797
9.0       1442
10.0       841
11.0       525
12.0       405
1.0        355
13.0       296
14.0       233
15.0       226
16.0       154
17.0       144
18.0       120
20.0       106
19.0        88
21.0        80
22.0        66
23.0        55
25.0        47
24.0        44
26.0        39
27.0        36
28.0        34
29.0        25
31.0        20
34.0        17
32.0        17
33.0        16
30.0        16
35.0        13
36.0         8
39.0         8
37.0         6
40.0         6
41.0         4
43.0         3
45.0         3
91.0         3
48.0         3
44.0         3
62.0         2
38.0         2
54.0         1
53.0         1
52.0         1
49.0         1
50.0         1
89.0         1
213.0        1
51.0         1
70.0         1
64.0         1
Name: TaxiIn, dtype: int64

In [48]:
flights.sort_values(by='CRSElapsedTime')

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Distance,TaxiIn,TaxiOut
96148,2008,1,5,6,1714.0,1655,NaN,1712,224,NaN,17,NaN,NaN,19.0,66,NaN,12.0
97321,2008,1,5,6,NaN,935,NaN,954,406,NaN,19,NaN,NaN,NaN,94,NaN,NaN
97290,2008,1,5,6,1316.0,935,1411.0,954,405,55.0,19,28.0,257.0,221.0,94,10.0,17.0
94778,2008,1,29,2,2236.0,2136,NaN,2156,125,NaN,20,NaN,NaN,60.0,94,NaN,9.0
97016,2008,1,24,4,1839.0,1835,NaN,1900,321,NaN,25,NaN,NaN,4.0,111,NaN,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93259,2008,1,31,4,725.0,725,1001.0,1035,3945,336.0,370,322.0,-34.0,0.0,2363,6.0,8.0
31173,2008,1,12,6,743.0,740,1020.0,1050,2224,337.0,370,313.0,-30.0,3.0,2363,18.0,6.0
79625,2008,1,27,7,725.0,725,1032.0,1035,3945,367.0,370,349.0,-3.0,0.0,2363,8.0,10.0
47797,2008,1,17,4,720.0,725,955.0,1035,3945,335.0,370,307.0,-40.0,-5.0,2363,18.0,10.0
24789,2008,1,10,4,730.0,730,1022.0,1040,3423,352.0,370,326.0,-18.0,0.0,2363,19.0,7.0